<tr><td>
   ##delcheck##  🎼 <a href="##moreurl##">[[Titel]]</a></td><td>

<div class="dropdown">
<button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fa fa-music"></i>
</button>
<div class="dropdown-menu">
<div class="dropdown-item">##more##</div>
<div class="dropdown-item">##edit##</div>
<div class="dropdown-item">##approve####disapprove##</div>
<div class="dropdown-divider"></div>
<div class="dropdown-item">##delete##</div>
</div>
</div>

</td>
  </tr>